<%- include('partials/header') -%>

<h4>All posts by <%=creator.userName %></h4>
<div class="row">
  <div class="col-lg-2">
 <img class="img-thumbnail avatar" alt="Profile Photo" src="<%= creator.image%>">
  </div>
</div>
 
  <!-- Photos collage -->
      <ul class="row">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-lg-3 justify-content-between mt-5">
            <a href="/postPage/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
   
            <p>Posted by <%= posts[i].user.userName %></p>

            <% if(posts[i].likes.length > 0) {%> 
              <p>Liked by <%= posts[i].likes.length %> </p>
             <%}%>
             
             <!-- Like Button -->
             <form
             action="/feed/like/<%= posts[i]._id %>?_method=PUT"
             method="POST"
             >
             <button class="<%= posts[i].likes === posts[i].id ? "btn-danger" : "btn-primary" %> btn  fa fa-heart" type="submit"></button>
             </form>

          </li>
        <% } %>

      </ul>
<%- include('partials/footer') -%>