<%- include('partials/header') -%>

  <div class="row justify-content-center mt-5">
    <!-- Main Post Title -->
    <div class="col-12">
      <h2><%= post.title %></h2>
    </div>
  </div>

  <div class="row">
      <div class="col-11">
        <!-- Post Caption -->
      <p><%= post.caption %></p>
  </div>

       <!--  Delete Post Form -->
       <div class="col-1">
       <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
  </div>

  <div class="row">   
  <!-- Post Image -->
      <img class="img-fluid" src="<%= post.image%>" />
   </div> 
   <div class="d-flex justify-content-between">
      <p class="lead pt-3">Post created by: <span class="highlight"><%= creator.userName %></span></p>
      <div class="ml-auto pt-3 d-flex">
      <!-- Post Likes -->
      <% if(post.likes.length > 0) {%> 
        <p class="px-2 lead">Liked by <%= post.likes.length %> </p>
       <%}%>
        <!-- Like Post -->
       <form
       class="col-1"
       id="like"
       action="/postPage/likePost/<%= post.id %>?_method=PUT"
       method="POST"
     >
       <button class="fa fa-heart" type="submit"></button>
     </form>
    </div>
    </div>

    
      <div class="row justify-content-between">
      
      </div> 

 <!-- Add New Comments -->
<div class="row">
  <div class="col-12 mt-4 form-floating">
      <form action="/comment/createComment/<%=post.id %>" method="POST" id="comments">
        <label class="py-2" for="text">Leave a Comment</label>
          <textarea class="form-control" name="text" placeholder="comment..." id="text" required></textarea>
        <button class="btn btn-primary my-3" type="submit">Submit</button>
      </form>
    </div>
</div>

  <!-- Display Comments -->
<div class="row mt-4">
<h5>Comments</h5>
<ul class="list-group">
  <% for(let i=0; i < comments.length; i++) { %>
    <li class="list-group-item d-flex">
      <span class="fw-bold"><%= comments[i].createdBy%> :</span><span class="mx-4"> <%= comments[i].text%></span>

     <!-- If comment was created by current user, then show the DELETE and Edit buttons -->
      <% if(comments[i].createdById == user.id || post.user == user.id) { %>
        <form action="/comment/deleteComment/<%=post.id%>/<%=comments[i].id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger fa fa-trash" type="submit"></button>
            <button type="button" class="btn btn-warning fa fa-edit" data-bs-toggle="modal" data-bs-target="#editComment-<%= comments[i].id %>"></button>
        </form>
        <%}%>

        <!-- Open Modal to Edit Comment -->
    <%if(comments[i].createdById == user.id){ %>
      <div class="modal fade" id="editComment-<%= comments[i].id %>" tabindex="-1" aria-labelledby="editcomment" aria-hidden="true">
        <div class="modal-dialog">
          <form class="modal-content" action="/comment/editComment/<%= post.id %>/<%= comments[i].id %>?_method=PATCH" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="text" class="form-label">Edited Comment</label>
                <textarea class="form-control" id="text" name="text"><%= comments[i].text %></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button class="btn btn-primary">Update Comment</button>
            </div>
          </form>
        </div>
      </div>
      <%}%>
    </li>
    <% } %>

  </ul>
</div>



<div class="mt-5 justify-content-center d-flex gap-2">
  <a class="btn btn-primary" href="/post">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>


<%- include('partials/footer') -%>
