<%- include('partials/header') -%>

<div class="row">
  <h1 class="pb-2"><%=user.userName%></h1>
</div>

  <div class="row">
    <div class="col-lg-3">
       <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>

  <!-- If the User already doesn't have a profile image set, open modal to upload a photo -->
      <% if (!user.image) { %>
        
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addphoto">
  Add Photo
</button>

<!-- Modal -->
<div class="modal fade" id="addphoto" tabindex="-1" role="dialog" aria-labelledby="addphoto" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addphototitle">Upload a Profile Photo</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form to Add Profile PHoto -->
        <form action="/post/addProfilePhoto/<%=user.id%>?_method=PUT" enctype="multipart/form-data" method="POST">
          <div class="mb-3 ">
            <input type="file" class="form-control" placeholder="Upload Profile Photo" id="imageUpload" name="img" required>
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <% } else { %>
        <img class="img-fluid" src="<%= user.image%>">
        <% } %>
      </div>
  

   <!-- Add Photo Form -->
   <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <h3>Add a post</h3>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
            <label for="title">Title</label>
        </div>
        <div class="mb-3 form-floating">
          <textarea class="form-control" id="caption" placeholder="Caption" name="caption" required></textarea>
          <label for="caption">Caption</label>
        </div>
        <div class="mb-3 ">
          <input type="file" class="form-control" placeholder="Upload Image" id="imageUpload" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
      </div>
    </div>
      
  </div>

  <!-- User PHotos - thumbnails -->
  <div class="row">
      <div class="col-lg-12">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/postPage/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
  </div> 
  
  <%- include('partials/footer') -%>